$font-color: #1a1b1d;

.home-header {
	width: 100vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 0.85em;
	padding: 15px 20px;

	a {
		text-decoration: none;
		color: $font-color;
		margin: 0 7px;

		&:hover {
			text-decoration: underline;
		}
	}
	.MuiSvgIcon-root {
		margin: 0 7px;
		opacity: 0.6;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}
	.avatar {
		width: 32px;
		height: 32px;
		margin: 0 7px;
	}
}
